.homebody {
    background-image: url(./img/bg_img.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
}

.navbar-header a {
    color: white;
    line-height: 2;
    font-family: cursive;
    font-size: 22px;
    margin-left: 5px;
}

.navbar-header a:hover {
    color: white;
    text-decoration: none;
}

li a {
    color: #c5bdbd !important;
    font-weight: bold;
}

li a:hover {
    color: #7d7d7d !important;
}

.page-heading {
    text-align: center;
}

label {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
}

.active {
    color: white !important;
}